.PageApplicationGeev {
  text-align: center;
  margin: 30px;
  h1{
    color: #98C11E;
  }
  .border-col{
    border:2px solid #98C11E;
    margin: 30px;
    h2{
      color: #98C11E;
    }
    }
    .commentaire{
      text-align: justify;
    }
}