@import '../App.scss';

.Formu {
    padding: 10px 15px;
    .para {
        font-size: 0.75rem;
    }
    .rating {
        width: 80px;
        padding-right: 0rem;
        a {
            
            float: right;
            color: #aaa;
            text-decoration: none;
            font-size: 2.75rem;
            transition: color .4s;
            &:hover,
            &:focus,
            &:hover ~ a,
            &:focus ~ a {
                color: $primaryColor;
                cursor: pointer;
            }
        }
    }
    .red {
        color: red;
    }
    .conditions {
        text-decoration: underline;
    }
    .button-submit {
        border: 1px solid $primaryColor;
        background-color: $primaryColor;
        color: white;
        box-shadow: 1px 1px grey;
        &:active {
            color: $primaryColor;
            background-color: white;
        }
    }
}

