@import '../App.scss';

.NavBar {
  box-shadow: 1px 0.5px grey;
  .button-category {
    border: 1px solid $primaryColor;
    background-color: white;
    margin: 1rem 0.25rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 1px 1px grey;
    .lien-category {
      color: $primaryColor;
      &:hover{
        text-decoration: none;
        color: white;
      }
    }
    &:hover {
      background-color: $primaryColor;
    }

  }
  .bar-menu {
    padding-left: 0px;
    padding-right: 0px;
  }
}